.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Hospital {
  display: flex;
  gap: 5px;
}

.Navigation {
  display: flex;
  gap: 10px;
}

.box {
  height: 769px;
  width: 752px;
  position: relative;
}

.box .ellipse {
  background-color: #ff004c1f;
  border-radius: 50%;
  filter: blur(100px);
  height: 769px;
  left: 0;
  position: fixed;
  top: 0;
  width: 752px;
}


.Buttons {
  display: flex;
  gap: 20px;
}

.Header-logo {
  height: 40vmin;
  pointer-events: none;
}

.LogoAndTitle {
  display: flex;
  align-items: center;
}

.Hospital {
  display: flex;
  gap: 5px;
}

.box {
  position: relative;
}

.ellipse {
  background-color: #ff004c1f;
  border-radius: 50%;
  filter: blur(200px);
  height: 769px;
  width: 752px;
  position: fixed;
  top: 0;
  left: 0;
}

.label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label .text-wrapper {
  color: #333333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 61px;
  white-space: nowrap;
}

.label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label .text-wrapper {
  color: #333333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 61px;
  white-space: nowrap;
}

.label .subtext-wrapper {
  color: #999999;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 40.6px;
  margin-top: 10px; 
  white-space: nowrap;
  width: 900px;
}

.box {
  position: relative;
}

.labels-and-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipse {
  height: 438px;
  width: 438px;
  position: fixed;
  top: 0;
  left: 0;
}

.blooddrop-image {
  position: absolute;
  top: 50%;
  left: 130%; 
  transform: translate(-50%, -50%);
  max-width: 400%;
  max-height: 400%;
}

.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Hospital {
  display: flex;
  gap: 5px;
}

.Navigation {
  display: flex;
  gap: 10px;
}

.box {
  height: 769px;
  width: 752px;
  position: relative;
}

.box .ellipse {
  background-color: #ff004c1f;
  border-radius: 50%;
  filter: blur(100px);
  height: 769px;
  left: 0;
  position: fixed;
  top: 0;
  width: 752px;
}


.Buttons {
  display: flex;
  gap: 20px;
}

.Header-logo {
  height: 40vmin;
  pointer-events: none;
}

.LogoAndTitle {
  display: flex;
  align-items: center;
}

.Hospital {
  display: flex;
  gap: 5px;
}

.box {
  position: relative;
}

.ellipse {
  background-color: #ff004c1f;
  border-radius: 50%;
  filter: blur(200px);
  height: 769px;
  width: 752px;
  position: fixed;
  top: 0;
  left: 0;
}

.label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label .text-wrapper {
  color: #333333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 61px;
  white-space: nowrap;
}

.label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label .text-wrapper {
  color: #333333;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 61px;
  margin-top: 150px;
  white-space: nowrap;
}

.label .subtext-wrapper {
  color: #999999;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 40.6px;
  margin-top: 10px; 
  margin-left: 300px;
  white-space: nowrap;
  width: 900px;
}

.box {
  position: relative;
}

.labels-and-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipse {
  height: 438px;
  width: 438px;
  position: fixed;
  top: 0;
  left: 0;
}

.blooddrop-image {
  position: absolute;
  top: 60%;
  left: 100%; 
  transform: translate(-50%, -50%);
  max-width: 200%;
  max-height: 200%;
}
.blooddrop-background {
  background-color: #FFE4E4; 
  border-radius: 50%;
  height: 300px;
  width: 300px; 
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.polygon-image {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.polygon-above-image {
  position: absolute;
  top: 5%; 
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}


.recipient-dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.recipient-dashboard .overlap-wrapper {
  background-color: #ffffff;
  height: 900px;
  overflow: hidden;
  width: 1440px;
}

.recipient-dashboard .overlap {
  height: 774px;
  left: -77px;
  position: relative;
  top: 63px;
  width: 1381px;
}

.recipient-dashboard .overlap-group {
  background-image: url("image 10.png");
  background-size: 100% 100%;
  height: 150px;
  left: 823px;
  position: absolute;
  top: 407px;
  width: 558px;
}

.recipient-dashboard .text-wrapper {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 135px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 100px;
}

.recipient-dashboard .div {
  height: 774px;
  left: 0;
  position: absolute;
  top: 0;
  width: 948px;
}

.recipient-dashboard .navbar {
  height: 30px;
  left: 155px;
  position: absolute;
  top: 3px;
  width: 167px;
}

.recipient-dashboard .logo {
  height: 30px;
  position: relative;
  width: 169px;
}

.recipient-dashboard .hospital {
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 1px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.recipient-dashboard .span {
  color: #ff0000;
}

.recipient-dashboard .text-wrapper-2 {
  color: #000000;
}

.recipient-dashboard .text-wrapper-3 {
  color: #851430;
}

.recipient-dashboard .image-hero {
  background-image: url("Logo.png");
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.recipient-dashboard .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 5px;
}

.recipient-dashboard .icon-droplet {
  height: 769px;
  position: relative;
  width: 797px;
}

.recipient-dashboard .overlap-group-2 {
  height: 769px;
  position: relative;
}

.recipient-dashboard .ellipse {
  background-color: #ff004c1f;
  border-radius: 376px/384.5px;
  filter: blur(200px);
  height: 769px;
  left: 0;
  position: absolute;
  top: 0;
  width: 752px;
}

.recipient-dashboard .group {
  background-image: url("Group 37.png");
  background-size: 100% 100%;
  height: 438px;
  left: 359px;
  position: absolute;
  top: 171px;
  width: 438px;
}

.recipient-dashboard .polygon {
  background-image: url("polygon.png");
  height: 701px;
  left: 249px;
  position: absolute;
  top: 68px;
  width: 422px;
}

.recipient-dashboard .img {
  height: 172px;
  left: 51px;
  position: absolute;
  top: 33px;
  width: 160px;
}

.recipient-dashboard .polygon-2 {
  background-image: url("Polygon\ 2.svg");
  height: 75px;
  left: 329px;
  position: absolute;
  top: 611px;
  width: 70px;
}

.recipient-dashboard .rectangle {
  background-image: url("Rectangle\ 11.png");
  height: 148px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: 406px;
  width: 558px;
}

.recipient-dashboard .image {
  background-image: url("image 5.png");
  height: 148px;
  left: 182px;
  position: absolute;
  top: 247px;
  width: 558px;
}

.recipient-dashboard .overlap-group-wrapper {
  height: 50px;
  left: 186px;
  position: absolute;
  top: 73px;
  width: 327px;
}

.recipient-dashboard .overlap-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffc3c3;
  border-radius: 100px;
  height: 50px;
  position: relative;
  width: 325px;
}

.recipient-dashboard .search-for-hospitals {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.recipient-dashboard .vector {
  background-image: url("Vector.png");
  height: 18px;
  left: 284px;
  position: absolute;
  top: 15px;
  width: 17px;
}

.recipient-dashboard .text-wrapper-4 {
  color: #861530;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 186px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 176px;
  width: 226px;
}

.recipient-dashboard .chong-hua-hospital {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 346px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 513px;
}

.recipient-dashboard .rectangle-2 {
  background-image: url("Rectangle\ 12.png");
  height: 148px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: 568px;
  width: 558px;
}

.recipient-dashboard .vicente-sotto {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 362px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 659px;
}

.recipient-dashboard .nav {
  height: 27px;
  left: 679px;
  position: absolute;
  top: 0;
  width: 269px;
}

.recipient-dashboard .home {
  color: #ff0000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.9px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.recipient-dashboard .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 98px;
  letter-spacing: 0.9px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.recipient-dashboard .text-wrapper-6 {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 352px;
  letter-spacing: 0;
  line-height: 16.1px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 359px;
  white-space: nowrap;
}

.recipient-dashboard .subnational-blood-wrapper {
  background-image: url("Rectangle 53.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 148px;
  left: 820px;
  position: absolute;
  top: 247px;
  width: 558px;
}

.recipient-dashboard .subnational-blood {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 130px;
  letter-spacing: 0;
  line-height: 16.1px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 99px;
  width: 290px;
}

.recipient-dashboard .vicente-sotto-wrapper {
  background-image: url("Rectangle 54.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 148px;
  left: 823px;
  position: absolute;
  top: 568px;
  width: 558px;
}

.recipient-dashboard .p {
  -webkit-text-stroke: 0.2px #c47272;
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 91px;
}

.recipient-dashboard .text-wrapper-7 {
  color: #861530;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 824px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 175px;
  width: 226px;
}
